#userPhotoGrid {
    background-color: #464646;
}

.userNoPicsContainer {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;

}

.userNoPics {
    display: flex;
    justify-content: center;
    align-content: center;
}

.sorryMessage {
    display: flex;
    padding: 5rem;
}
