html {
    height: 100vh;
    width: 100vw;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    font-family: "Roboto", sans-serif;
    line-height: 1;
}

#root {
    /* display: flex;
        flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    min-height: 100vh;
    min-width: 100vw;
    font-family: "Roboto", sans-serif;
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ^ STYLE RESET ^ */

#root {
    background-color: #464646;
    width: 100vw;
    height: 100vh;
}

body {
    background-color: #464646;
}

form {
    background-color: #464646;
}

button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #FFFDD0;
    background-color: #1c1c1c;
    border: none;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
}

input {
    background-color: #464646;
    border: .2rem solid #FFFDD0;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    color: #fff;
    border-radius: .8rem;
    background: #171d2e;
}

input:focus {
    outline: none;
}

label {
    top: 50%;
    font-size: 1.4rem;
    /* color: #fff; */
    transition: all .25s linear;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #1c1c1c inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #FFFDD0 !important;
}

::-webkit-scrollbar {
    display: none;
}
