.navBar-container {
    background-color: #1c1c1c;
    position: sticky;
    height: 4rem;
    width: 100%;
    top: 0px;
    padding: 0;
    margin: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.homeIcon {
    display: flex;
    align-items: center;
    padding: 1.5rem;
}

.topRight {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.sessionLinks {
    display: flex;
    justify-content: space-evenly;
    padding: .25rem;
}

.uploadIcon {
    display: flex;
    align-items: center;
    padding: 1.5rem;
}

.loginForm {
    display: flex;
    align-items: center;
    padding: .5rem;
}

.signup {
    display: flex;
    align-items: center;
    padding: .5rem;
}

#userMenu {
    display: flex;
    max-height: 3rem;
    background-color: #FFFDD0;
    color: rgb(0, 0, 0);
    padding: 0.7rem 2rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 0.2rem solid transparent;
    border-radius: 4rem;
    border-color: #7b1ffb;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.userMenuContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#userMenu:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0);
}

.profile-dropdown {
    color: #FFFDD0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.dropDownButtons {
    display: flex;
    flex-direction: row;

}

#visitProfileContainer {
    padding: .1rem;
}

#logoutContainer {
    padding: .1rem;
}

.menuButton {
    display: inline-block;
    padding: 0.5em 1.7em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgb(255, 255, 255);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #FFFDD0;
    background-color: #1c1c1c;
    text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
    text-align: center;
    transition: all 0.2s;
}

.menuButton:hover {
    color: black;
    background-color: #ffffff;
}


.navBtn {
    color: #FFFDD0;
    background-color: #1c1c1c;
    transition: all 0.2s;
    text-decoration: none;
}

.navBtn:hover {
    color: #7b1ffb;
    background-color: rgb(255, 255, 255);
}

#homeBtnIcon {
    text-decoration: none;
}


.username {
    /* padding-top: .5rem; */
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #FFFDD0;
}

.slideIn {
    height: 3.5rem;
    display: none;
    top: 0;
    right: 0;
    overflow: hidden;
    z-index: 999;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
}

.selected {
    display: flex;
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.dismiss {
    /* display: flex; */
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
    /* display: none; */
}

@keyframes slide-in {
    0% {
        -webkit-transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(0%);
    }
}

@-webkit-keyframes slide-in {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

@-webkit-keyframes slide-out {
    0% {
        -webkit-transform: translateX(0%);
    }

    100% {
        -webkit-transform: translateX(100%);
    }
}
